
<h2>  
  Tabla
</h2>

<div class="container-fluid">
  <div class = "col-6">
    <table class = "table">
      <thead>
        <tr>
          <th class = "h4">Nombre del curso</th> 
          <th class = "h4">Nombre del profesor</th>
          <th class = "h4">Creditos</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of courses">

          <td>
            <dd>{{c.name}}</dd>
          </td>
          <td>
            <dd>{{c.proffessor}}</dd>
          </td>
          <td>
            <dd>{{c.credits}}</dd>
          </td>
      </tr>
      </tbody>

    </table>


  </div>
  
  
</div>



